//- /views/crearCliente.pug
doctype html
html
  head
    title Crear un usuario
  body
    h1 Registro de usuarios
    form(action="/usuarios/crear", method="POST")
      //- Datos de Persona
      label(for="nombre") Nombre:
      input(type="text" name="nombre" required placeholder="Nombre completo")
      br

      label(for="dni") DNI:
      input(type="number" name="dni" required placeholder="DNI")
      br

      label(for="nacimiento") Fecha de Nacimiento:
      input(type="date" name="nacimiento" required)
      br

      //- Datos de Usuario
      label(for="email") Correo Electr칩nico:
      input(type="email" name="email" required placeholder="Correo electr칩nico")
      br

      label(for="password") Contrase침a:
      input(type="password" name="password" required placeholder="Contrase침a")
      br

      button(type="submit") Crear Usuario
    a(href="/") Volver al inicio
