//- /views/crearCliente.pug
doctype html
html
  head
    link(rel="stylesheet", href="/styles/crearCliente.css")
    title Crear un usuario
  body
    h1 Registro de usuarios

    form(action="/pacientes/crear", method="POST")
      //- Datos de Persona
      label(for="nombre") Nombre:
      input(type="text" name="nombre" required placeholder="Nombre completo")
      br

      label(for="dni") DNI:
      input(type="number" name="dni" required placeholder="DNI")
      br

      label(for="nacimiento") Fecha de Nacimiento:
      input(type="date" name="nacimiento" required max=(new Date().toISOString().split('T')[0]))
      br

      //- Datos de Usuario
      label(for="email") Correo Electr칩nico:
      input(type="email" name="email" required placeholder="Correo electr칩nico")
      br

      label(for="password") Contrase침a:
      input(type="password" name="password" required placeholder="Contrase침a")
      br

      //- Datos del paciente
      label(for="obra_social") Obra social: 
      select(name="obra_social")
       option(value="obra a") obra a
       option(value="obra b") obra b
       option(value="obra c") obra c
       option(value="obra d") obra d  
      br
      label(for="dato_contacto") datos de contacto
      input(type="number" name="dato_contacto" required placeholder="266 4202020")
      br
      button(type="submit") Crear paciente

    a(href="/") Volver al inicio
