extends layoutAdmin

block content
  h1 Cargar Nuevo Profesional
  form(action='/profesionales/crear', method='POST')
    label(for='nombre') Nombre:
    input(type='text', name='nombre', required, placeholder='Ingrese el nombre del profesional')
    br

    label(for='dni') DNI:
    input(type='text', name='dni', required, placeholder='Ingrese el DNI del profesional')
    br

    label(for='nacimiento') Fecha de Nacimiento:
    input(type='date', name='nacimiento', required)
    br

    
    label(for='especialidad') Especialidad:
    input(type='hidden', name='especialidadID', id='especialidadID')
    input(type="text", name="especialidad", id='especialidad', list='especialidades', placeholder='Buscar especialidad...', required)
    datalist(id='especialidades')
      each especialidad in especialidades
        option(value=especialidad.nombre data-id=especialidad.ID)
    br

    label(for='matricula') Matrícula:
    input(type='text', name='matricula', required, placeholder='Ingrese la matrícula del profesional')
    br

    button(type='submit') Guardar Profesional

  script.
    const inputEspecialidad = document.getElementById('especialidad');
    const datalistEspecialidades = document.getElementById('especialidades');
    const inputEspecialidadId = document.getElementById('especialidadID');

    inputEspecialidad.addEventListener('input', function() {
      const opcion = Array.from(datalistEspecialidades.options).find(opt => opt.value === inputEspecialidad.value);
      inputEspecialidadId.value = opcion ? opcion.dataset.id : '';
    });

    document.querySelector('form').addEventListener('submit', function(e) {
      if (!inputEspecialidadID.value) {
        alert('Por favor, selecciona una especialidad válida de la lista.');
        e.preventDefault();
      }
    });