doctype html
html
  head
    title Aplicación
    

  body
    header
      h1 Mi Aplicación
      nav
        a(href="/") Inicio
        a(href="/otra-ruta") Otra sección

    .container
      aside
        ul
          li: a(href="/opcion1") Opción 1
          li: a(href="/opcion2") Opción 2

      main
        block content

    footer
      p © 2024 Mi Aplicación
