doctype html
html
  head
    title Mi Aplicación
    link(rel="stylesheet" href="/styles/layoutSecretario.css")
  body
    header
      .header-container
        h1 Mi Aplicación
        nav
          a(href="/") Inicio
          a(href="/otra-ruta") Otra sección

    .container-main
      aside
        .menu
          ul
            li: a(href="/secretario/crear") Crear Agendas
            li: a(href="/secretario/sucursal") Lista de agendas
      main
        .content
          block content
        form(action='/auth/logout', method='POST')
          button(type='submit') Cerrar sesión

    footer
      .footer-container
        p © 2024 Mi Aplicación
