doctype html
html
  head
    title Layout Cliente
    link(rel="stylesheet" href="/styles/layoutCliente.css")
  body
    //- Contenedor principal
    .container
      //- Header con el nombre de la empresa y el logo
      header
        .logo-container
          img(src="/logo.jpg" alt="Logo")
          h1 Nombre de la Empresa
      
      //- Contenedor para dividir en menú y bloque dinámico
      .content
        //- Menú a la izquierda
        aside.menu
          

        //- Bloque dinámico a la derecha
        main
          block content
        form(action='/auth/logout', method='POST')
          button(type='submit') Cerrar sesión

    //- Pie de página opcional
    footer
      p © 2024 - Nombre de la Empresa
