doctype html
html
  head
    title Gestor de turnos
    link(rel="stylesheet" href="/styles/layoutSecretario.css")
  body
    header
      .header-container
        h1 Gestor de turnos
        nav
          
    .container-main
      aside
        .menu
          ul
            li: a(href="/secretario/crear") Crear Agendas
            li: a(href="/secretario/sucursal") Lista de agendas
        form(action='/auth/logout', method='POST')
          button(type='submit') Cerrar sesión
      main
        .content
          block content

    footer
      .footer-container
        p © 2024 Mi Aplicación
