extends layoutSecretario

block content
  h1 Listado de agendas activas

  table
    thead
      tr
        th Especialidad
        th Profesional
        th Acciones
    tbody
      each agenda in agendas 
        tr
          td= agenda.EspecialidadesProfesionale.Especialidad.nombre
          td= agenda.EspecialidadesProfesionale.Profesional.Persona.nombre
          td
            a(href=`/secretario/agenda/${agenda.ID}/${agenda.EspecialidadesProfesionale.Profesional.ID}`) Ver agenda 

