extends layoutAdmin

block content
  h1 Lista de Médicos con Especialidades
  table
    thead
      tr
        th Nombre
        th Especialidades
    tbody
      each medico in profesionales
        tr
          td= medico.Persona.nombre
          td
            ul
              each especialidad in medico.Especialidads 
                li= especialidad.nombre
