doctype html
html
  head
    title Iniciar Sesión
    link(rel="stylesheet" href="/styles/login.css") 
  body
    .container
      .login-card
        h1 Iniciar Sesión
        form(action="/auth/login", method="POST")
          label(for="email") Email:
          input(type="text" name="email" required placeholder="Ingresa tu email")

          label(for="password") Contraseña:
          input(type="password" name="password" required placeholder="Ingresa tu contraseña")

          button(type="submit") Iniciar Sesión

        .register
          p No tienes cuenta? 
          a(href="/pacientes/crear") Regístrate
