doctype html
html
  head
    title Iniciar Sesión
    link(rel="stylesheet" href="/css/style.css") 
  body
    h1 Iniciar Sesión
    form(action="/auth/login", method="POST")
      label(for="email") email:
      input(type="text" name="email" required placeholder="Ingresa tu email")
      br

      label(for="password") Contraseña:
      input(type="password" name="password" required placeholder="Ingresa tu contraseña")
      br

      button(type="submit") Iniciar Sesión

    p No tienes cuenta? 
      a(href="/usuarios/crear") Regístrate
